
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
    font-size: 15px;
}
.azul a{
    color: rgb(7, 7, 7);
    background-color: blanchedalmond;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
}
.verde a{
    color: black;
    background-color: darkgreen;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
}
    .roxo a{
        color: black;
        background-color: brown;
        text-decoration: none;
        font-size: 20px;
        padding: 4px;
    }
    .amarelo a{
        color: black;
        background-color: darkgoldenrod;
        text-decoration: none;
        font-size: 20px;
        padding: 4px;
    }
header .container{
    background-color: rgb(48, 46, 44);
    height: 80px;
}
.category > h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.container h1{
    color: azure;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article article img{
    height: 180px;
}
.article article{
    width: 30%;
}
header .container{
    display: flex;
    align-items: center;
}
.container li{
    margin-right: 10px;
    margin-left: 10px;
}
section{
    margin-top: 0px;
}
.article article > h2{
    margin-bottom: 15px;
    font-size: 30px;
}
.article h3{
    color: rgb(59, 57, 57);
    margin-bottom: 5px;
}
#esportes{
    background-color: rgb(192, 186, 186);
}
#economia{
    background-color: rgb(218, 216, 214);
}
#games{
    background-color: rgb(246, 225, 225);
}
#musica{
    background-color: rgb(226, 217, 217);
}
body{
    background-color: rgb(208, 216, 223);
}
.article article a {
    background-color: blue;
    color: aliceblue;
    display: inline-flex;
    padding: 5px;
    margin-top: 4px;
}
.article article a{
    text-decoration: none;

}
.article article a :hover{
    text-decoration: underline;
}
#esportes a{
    background-color: black;
}
#economia a{
    background-color: rgb(5, 139, 95);
}
#games a{
    background-color: brown;
}
#musica a{
    background-color: chocolate;
}

